<% content_for :head do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<%= javascript_include_tag "crop" %>
<% end %>

<%= image_tag @user.profile_url(:large),:width => @user.profile_geometry[:width], :id => "cropbox" %>

<div id='links'>
  <ul>
    <li><a data='#860х340'>860х340</a></li>
    <li><a data='#600х400'>600х400</a></li>
    <li><a data='#310х160'>310х160</a></li>
    <li><a data='#120х120'>120х120</a></li>
  </ul>
</div>

<h3>Preview</h3>
<div class="preview">
    <%= image_tag @user.profile_url(:large), :id => "preview" %>
</div>

<%= form_for @user, :as => :user, :url => { :action => "crop_update", :id => @user.id} do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_h, :crop_w, :resolution] %>
        <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
    <p><%= f.submit "Crop" %></p>
<% end %>