<!DOCTYPE html>
<html>
<head>
  <title>CarrierCrop</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'http://stanlemon.net/stylesheet/jquery.jgrowl.css' %>
  
  <%= javascript_include_tag 'jquery', 'rails', 'application', 'http://stanlemon.net/javascript/jquery.jgrowl.js' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
